html,body{
  margin: 0px;
  background-color: #4ed352;
  color: white;
}
.titulo{
  text-align: center;
  background-color: rgba(18, 18, 18, 0.333);
  color: white;
  padding: 20px;
  font-size: 25px;
}

.carta{
  position: relative;
  width: 150px;
  left: 100px;
  margin-left: -75px;
}

#jugador-cartas, #computadora-cartas{
  height: 240px;
}